@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,400;1,600&display=swap");

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
}

.mt-6 {
  margin-top: 10rem;
}

.pt-lapan-persen {
  padding-top: 8%;
}

.px-6 {
  padding-left: 14rem;
  padding-right: 10rem;
}

.py-6 {
  padding-top: 12rem;
  padding-bottom: 10rem;
}

.home {
  padding-top: 12%;
  z-index: 9999;
  height: 90vh;
}

/* Navbar */

.navbar li {
  margin: 0 10px;
  font-weight: 600;
}

.navbar-brand {
  font-weight: 500;
}

.navbar a {
  background-image: linear-gradient(
    transparent 0%,
    transparent 90%,
    #f6b314 90%,
    #f6b314 100%
  );
  background-repeat: no-repeat;
  background-size: 0% 100%;
  background-position-x: right;

  transition: background-size 300ms;
}

.navbar a:hover {
  background-size: 100% 100%;
  background-position-x: left;
}

.home-img {
  width: 16rem;
  border-radius: 12px;
  box-shadow: 20px 20px 7px rgb(224, 224, 224);
  -webkit-box-shadow: 20px 20px 7px rgb(224, 224, 224);
  -moz-box-shadow: 20px 20px 7px rgb(224, 224, 224);
}

.navbar {
  background: white;
}

.learnMoreBtn {
  position: relative;
  margin: auto;
  padding: 8px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.learnMoreBtn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #f6b314;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.learnMoreBtn span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #263238;
}

.learnMoreBtn svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #263238;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.learnMoreBtn:hover:before {
  width: 100%;
  background: #f6b314;
}

.learnMoreBtn:hover svg {
  transform: translateX(0);
}

.learnMoreBtn:active {
  transform: scale(0.95);
}

#about-us {
  padding: 2% 0;
  height: 90vh;
}

#about-us p {
  color: #33434b;
  padding-top: 10px;
}

.appointment {
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("img/bg-form.jpg");
  background-size: cover;
  color: white;
}

/* Testimonial */
.card {
  border: none;
}

.user-content p {
  margin-top: 5px;
  font-size: 12px;
}

.ratings i {
  color: #f6b214;
}

/* CSS untuk footer */
a {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  text-decoration: none;
}

.form-footer {
  background: #212529;
  border-color: #545454;
}

.form-footer:focus {
  background: #212529;
}

footer {
  background: #212529;
}

.form-contact {
  width: 400px;
  height: 460px;
  border-radius: 15px;
  background-color: #ffffff1a;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

form {
  padding-top: 6%;
}

.form-contact input {
  width: 280px;
  border: none;
  padding: 4px 8px;
  border-radius: 10px;
}
/* Submit Button Contact form */
.btn-sumbit-form {
  width: 140px;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.btn-sumbit-form:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.btn-sumbit-form:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.btn-sumbit-form:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.5);
}

.btn-sumbit-form:hover:before {
  border-color: #ffffff;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.btn-sumbit-form:hover:after {
  border-color: #ffffff;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}

.button-submit-form {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

@media (max-width: 575.98px) {
  .home img {
    width: 200px;
  }

  #about-us {
    margin-top: 60px;
  }

  #testimonial {
    margin-top: 300px;
  }
}

@media (max-width: 768px) {
  .home img {
    width: 200px;
  }

  #about-us {
    margin-top: 60px;
  }

  #testimonial {
    margin-top: 300px;
  }
}

